html, body{
	width: 100%;
	height:100%;
	background-color: white;


}

.skrollr-container{
	top:50%;
	width: 100%;
	height:100%;
	overflow:hidden;
}


.spin{
	position:fixed;
	width:100%;
	height:100%;
	border-radius: 50%;
	top:50%;
	left:0%;
	background-color: black;
}

p {


	left:70px;
	color: black;
	font-size: 300px;
	position: fixed;
}
#welcome {
	left:40%;
}

#menu {
	left:-160px;
	top:0;
	height:100%;
	width:200px;
	position: fixed;
  background-color:#99ccff;
  border-color: black;
  -webkit-transition: all 1000ms ease;
                -moz-transition: all 1500ms ease;
                -ms-transition: all 1500ms ease;
                -o-transition: all 1500ms ease;
                transition: all 1500ms ease;   
  transition:0s 180s;
  -webkit-transition: all 1000ms ease;
overflow:hidden;
}
 #menu:hover {
-webkit-transition: all 1000ms ease;
                -moz-transition: all 1500ms ease;
                -ms-transition: all 1500ms ease;
                -o-transition: all 1500ms ease;
                transition: all 1500ms ease;   
  transition:0s 180s;
  -webkit-transition: all 1000ms ease;
left: 0px;
overflow:hidden;

}

a {
	font-size: 35px;
	text-decoration: none;
	color: black;
  	margin-left:50px;

}

#menuItems {
	
  	left:100px;
	
}




































