html, body{
	width: 100%;
	height:100%;
	background-color: white;


}

.skrollr-container{
	top:20%;
	width: 100%;
	height:100%;
	overflow:hidden;
}


.spin{
	position:fixed;
	width:10%;
	height:10%;
	top: 20%;
	left:20%;
	background-color: black;
}

p {

	left:70px;
	color: black;
	font-size: 300px;
	position: fixed;
}
#welcome {
	left:40%;
}

#menu {
	left:-110px;
	top:0px;
	height:100%;
	width:200px;
	position: fixed;
	background-color:#99ccff;
	border-color: black;
	-webkit-transition: all 1000ms ease;
	-moz-transition: all 1500ms ease;
	-ms-transition: all 1500ms ease;
	-o-transition: all 1500ms ease;
	transition: all 1500ms ease;   
	transition:0s 180s;
	-webkit-transition: all 1000ms ease;
	
}
#menu:hover {
	-webkit-transition: all 1000ms ease;
	-moz-transition: all 1500ms ease;
	-ms-transition: all 1500ms ease;
	-o-transition: all 1500ms ease;
	transition: all 1500ms ease;   
	transition:0s 180s;
	-webkit-transition: all 1000ms ease;
	left: 0px;
	overflow: auto;

}

a {
	font-size: 35px;
	text-decoration: none;
	color: black;
	margin-left:50px;

}

#menuItems {
	
	left:100px;
	
}




































